@tailwind base;

@tailwind components;

@tailwind utilities;

.form-input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #ffffff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .form-input::-webkit-input-placeholder {
    color: #9fa6b2;
    opacity: 1;
  }
  
  .form-input::-moz-placeholder {
    color: #9fa6b2;
    opacity: 1;
  }
  
  .form-input:-ms-input-placeholder {
    color: #9fa6b2;
    opacity: 1;
  }
  
  .form-input::-ms-input-placeholder {
    color: #9fa6b2;
    opacity: 1;
  }
  
  .form-input::placeholder {
    color: #9fa6b2;
    opacity: 1;
  }
  
  .form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
    border-color: #a4cafe;
  }
  